.body {
    padding: 200px 100px 100px;
    background-color: #4fb0b9;
}

.container {
    width: 1000px !important;
    border-radius: 20px;
    background-color: #FFFFFF;
    padding-left: 0 !important;
}

.image-1 {
    border-radius: 20px;
}

.image-2 {
    margin-top: 50px;
    margin-bottom: -10px;
    margin-left: 120px;
}

.col-md-6 {
    padding: 0;
}

.text-block {
    margin-bottom: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #4fb0b9;
    text-align: center;
}

.form {
    position: relative;
    left: 100px;
    right: 60px;
    font-size: 14px;
    line-height: 10px;
}

input {
    width: 300px !important;
    border-radius: 30px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.btn-login {
    color: #FFFFFF;
    margin-top: 10px;
    position: relative;
    left: 120px;
    border-radius: 10px;
    background-color: #4fb0b9;
}

@media (max-width:1450px) {
    .image-1 {
        display: none;
    }
    #slogan {
        display: none;
    }
}

@media (max-width:1300px) {
    .image-1 {
        width: 20%;
        height: 100px;
    }
}